*{
    font-size: 1.5vw;
}
.screen {
    position:absolute;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/*------ for Username Input Screen ------*/
#usernameInputScreen{
    visibility: visible;
}
#usernameInputScreen > *{
    visibility: inherit;
}
#userForm{
    position: absolute;
    top: 40vh;
}
#usernameInput{
    font-size: 3vw;
}
#usernameSubmit{
    position: absolute;
    top: 20vh;
    left: 26%;
    background: lightgray;
    height: 8vh;
    line-height: 8vh;
    width: 20vw;
    text-align: center;
    border: 2px solid gray;
}

.darkMode, #backButton{
    position:absolute;
    top:10px;
    height: 5vh;
    text-align: center;
    background: gray;
    line-height: 5vh;
    text-decoration: none;
    color: black;
}
.darkMode{
    right:10px;
}
#backButton{
    left:10px;
}

#usernameError{
    position: absolute;
    visibility: hidden;
    top: 15vh;
}
.growth{
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.growth:hover{
    transform: scale(1.1);
    opacity: 80%;
}
/*------ for Chat Screen ------ */

#mainScreen{
    visibility: hidden;
    background-color: rgb(192, 220, 209);
}

#mainScreen > *{
    visibility: inherit;
}